/*==================FONTS==================*/

@font-face {
    font-family: "Myriad";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/MyriadPro-Light.otf") format("opentype");
}
@font-face {
    font-family: "GeosansLight";
    src: url("../fonts/GeosansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "GeosansOblique";
    src: url("../fonts/GeosansLight-Oblique.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Futura";
    src: url("../fonts/Futura.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/*==================OBLIG3 TEMPLATE==================*/

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
/*==================NAVIGATION==================*/

.navbar-custom{
  background: #003a4a url("../img/bg.png") repeat scroll left top;
  border: rgba(0,0,0,0);
  padding: 15px 0;
}
.navbar-default .navbar-nav > li > a{
  color: #fff;
  background: rgba(0,0,0,0);
  transition: padding 0.9s ease 0s;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:active {
  color: #f5f5f5;
  background-color: transparent;
  border-bottom:2px solid #c7ebe5;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover{
  background: none;
  color: #c7ebe5;
  border-bottom:2px solid #c7ebe5;
}

.navbar-fixed-top{
  /*box-shadow: 0 0 10px 3px rgba(0,0,0,0.3);*/
}
#navbar{
  float: right;
  font-family: "Futura", sans-serif;
  text-transform: uppercase;
}
.navbar-header{
  background: rgba(0,0,0,0);
}
.navbar-brand{
  margin-left: 15px;
  margin-bottom: -3px;
  background: rgba(255,255,255,0);
}
.fa-plane{
  font-size: 35px;
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a{
  color:#fff;
}

/*==================HEADER==================*/

header {
  display: block;
  margin:0 0 50px;
  box-shadow: 0 15px 15px -14px rgba(0,0,0,0.5);
}
.custom-header {
    height: 400px;
    background: url("palmer.jpg") center center no-repeat scroll;
}
.slagord {
	position: relative;
	padding-right: 15px;
	padding-left: 55%;
	padding-top: 5%;
}
.slagord h1{
  font-family: "Futura", sans-serif;
}
/*Skygge på overskriften/slagordet*/
.skygge {
    text-shadow: 0 2px 5px rgba(0,0,0,0.8);
    color: #fff;
}
.glossy:after {
    background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 20px;
    content: " ";
    height: 50%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.glossy {
    border-radius: 20px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5) inset;
}
/*==================PORTFOLIO==================*/

#portfolio {
  padding:50px 0 50px;
  width: 68%;
  margin:auto;
}
#portfolio .portfolio-item {
  margin: 0 0 30px;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
}
#portfolio .portfolio-item img{
  margin: auto;
  box-shadow: 0 0 20px -5px rgba(0, 58, 74, 0.7);
}
#portfolio .portfolio-item .portfolio-link .caption {
  background: rgba(0, 58, 74, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;

}
#portfolio .portfolio-item .portfolio-link .caption:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 12px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;

}
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
  margin: 0;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content p {
  padding: 0 15px 0;
  font-size: 14px;
}
#portfolio * {
  z-index: 2;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: #18BC9C;
  background: white;
  border: solid 2px white;
}
.btn-primary {
  color: white;
  background-color: #2C3E50;
  border-color: #2C3E50;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #1a242f;
  border-color: #161f29;
}

.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  margin: 0;
  font-size: 3em;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content .item-details {
  margin: 30px 0;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #2C3E50;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #2C3E50;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}

#destinasjoner{
  padding: 10px 0 50px 0;
}
#kontakt{
  padding: 10px 0 50px 0;
}
/*==================SOCIAL==================*/

#social{
  background:rgba(46, 147, 151, 1);
}
.flex-container-rowAlign{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  min-height: 30px;
}
.flex-social{
  padding: 15px;
  margin: 20px 35px 20px;
  margin: auto;
  text-align: center;
}
.fa-facebook{
  color: #fff;
  font-size: 50px;
}
.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover
.fa-envelope:hover{
  color: #0d202d;
}
.fa-twitter{
  color: #fff;
  font-size: 50px;
}
.fa-instagram{
  color: #fff;
  font-size: 50px;
}
#social .fa-envelope{
  color: #fff;
  font-size: 50px;
}
footer .fa-envelope{
  color: #fff;
  font-size: 15px;
  margin-right:10px;

}
.fa-mobile{
  color: #fff;
  font-size: 25px;
  margin-right:10px;
}
/*==================FOOTER==================*/

footer{
  background: #0d202d;
  color: #fff;
  padding:30px 15px;
  min-height: 100px;
}
.footer-item {
  border-left: 1px solid rgba(255,255,255,0.5);
  padding: 20px 40px;
}
.footer-item:first-child{
  border-left:rgba(0,0,0,0);
}
footer h3{
  font-family: "Myriad", sans-serif;
  color:#fff;
  font-size: 14px;
  text-align: left;
  font-weight: bold;
}
footer p{
  font-family: "Myriad", sans-serif;
  color:#f9f9f9;
}
