body {
  padding-top: 50px;
}
<<<<<<< HEAD

p {
	text-align: center;
	font-family: verdana;
	font-size: 20px;
}
.kontakt{
	text-align: center;
	font-family: verdana;
	font-size: 20px;
}

=======
>>>>>>> origin/master
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.navbar{

}
.navbar-inverse{
  background: #003a4a;
  border: none;
}
.navbar-fixed-top{
  box-shadow: 0 0 8px 1px rgba(0,0,0,0.3);
}
.navbar-header{
  padding: 10px;
  background: #003a4a;
  height:50px;
  margin-bottom: -15px;
}
.nav{
  float: right;
}

header {
  display: block;
  margin-bottom:50px;
}

.business-header {
    height: 400px;
    background: url("palmer.jpg") center center no-repeat scroll;
}

.slagord {
	position: relative;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 10px;

}

/*Skygge på overskriften/slagordet*/
.skygge {
    text-shadow: 0 0 10px #000;
    color: #fff;
}

#portfolio .portfolio-item {
  margin: 0 0 15px;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
}
#portfolio .portfolio-item img{
  margin: auto;
}
#portfolio .portfolio-item .portfolio-link .caption {
  background: rgba(46, 147, 151, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;

}
#portfolio .portfolio-item .portfolio-link .caption:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;

}
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
  margin: 0;

}
#portfolio * {
  z-index: 2;
}

footer{
	clear: both;
  min-height: 200px;
  background: #0d202d;
  color: #fff;
}
.footer_item{
  border-left: 1px solid #eee;
  padding: 50px 20px;
}
.footer_item:first-child{
  border-left:none;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: #18BC9C;
  background: white;
  border: solid 2px white;
}
.btn-primary {
  color: white;
  background-color: #2C3E50;
  border-color: #2C3E50;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #1a242f;
  border-color: #161f29;
}

.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  margin: 0;
  font-size: 3em;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content .item-details {
  margin: 30px 0;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #2C3E50;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #2C3E50;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}
